/** @format */

body,
html {
	overflow-x: hidden;
	padding: 0;
	background-color: rgb(0, 0, 0);
}

.container {
	width: 80%;
	margin: 10% auto;
	align-items: center;
	justify-content: center;
}

.render-dialog {
	height: 90%;
	width: 90%;
	margin: auto;
}

.map-container {
	height: 600px;
}

.sidebar {
	background-color: rgba(35, 55, 75, 0.9);
	color: #fff;
	padding: 6px 12px;
	font-family: monospace;
	z-index: 1;
	position: absolute;
	margin: 12px;
	border-radius: 4px;
}
